
/* css */

.topnav { 
    background-color: #3078CD;
    height: 60px;
}

.topnav a { 
    float: right; 
    color: white;
    text-align: center; 
    padding: 14px 16px; 
}

.topnav img { 
    z-index: 2;
}

#welcome { 
    text-align: center;
    margin-top: 3%;
}

#checkinbox { 
    background-color: #3078CD;
    margin-top: 6%;
}

#next1 { 
    background-color: #3078CD;
}


#fromjulia { 
    margin-top: 5%; 
}

#background { 
    background-color: #F5F5F5; 
    width: 854px; 
    height: 500px;
    margin: auto; 
}

#background p {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%; 
}

#name { 
    padding-bottom: ; 
}