/* css */


.navbar {
    position: sticky !important;
    z-index: 1000; 
    padding-bottom: 200px;
    top: 0;
    background-color: #3078CD;
    width: 100%;
    font-size: large;
}

.navbar a {
    color: white;
    margin-right: 10%;
}

.score { 
    display: inline; 
    padding-right: 10%;
}

#welcome {
    text-align: center;
    margin-top: 3%;
    padding-top: 3%;
    max-width: 100%;
    height: auto;
}

#checkinbox {
    background-color: #3078CD;
    margin-top: 6%;
}

#next1 {
    background-color: #3078CD;
}


#fromjulia {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}

#background {
    background-color: #F5F5F5;
    max-width: 100%;
    width: 854px;
    height: 520px;
    margin: auto;
}

#background2 {
    background-color: #F5F5F5;
    max-width: 100%;
    width: 854px;
    height: 1000px;
    margin: auto;
}

#background3 {
    background-color: #F5F5F5;
    max-width: 100%;
    width: 854px;
    height: 905px;
    margin: auto;
}

#background4 {
    background-color: #F5F5F5;
    max-width: 100%;
    width: 854px;
    height: 1100px;
    margin: auto;
}

#background5 {
    background-color: #F5F5F5;
    max-width: 100%;
    width: 854px;
    height: 450px;
    margin: auto;
}

#background5 p {
    text-align: left;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#background4 p {
    text-align: left;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#background3 p {
    text-align: left;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#background2 p {
    text-align: center;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#background p {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}

#name {
    padding-bottom: ;
}

.zulured {
    width: 100%;
    background-color: #D64040;
    width: 550px;
    height: 200px;
    margin: auto;
    max-width: 100%;
}

.zulured p {
    width: 100%;
    color: white;
    text-align: center !important;
    margin-bottom: 10px;
}

#zulup1 {
    color: white;
    text-align: center;
    padding-top: 60px;
}

.btn1 {
    padding: 0;
    border: none;
    background-color: inherit;
}

.btn2 {
    padding: 0;
    border: none;
    background-color: inherit;
    color: white;
}

.btn3 {
    padding: 0;
    border: none;
    background-color: inherit;
}

.reciept { 
    max-width: 100%;
}

#playagain { 
    background-color:#3078CD; 
}

#finalscreen { 
    background-color:#3078CD; 
    
}